footer {
    background: linear-gradient(#141e30, #430e55);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
    padding: 5px 0;
}
footer h1 {
    font-size: 3.5rem;
    font-weight: 800;
    background-image: linear-gradient(75deg, #d7d2cc 0%, #304352 100%);
    background-clip: text;
    max-height: 228px;
    overflow: hidden;
    color: transparent;
    padding: 50px;
    animation: anim 6s linear infinite reverse;
    white-space: nowrap;
}
@keyframes anim {
    0% {
        transform: translateX(-1100px);
    }
    100% {
        transform: translateX(1100px);
    }
}
@media(width<1000px) {
    footer h1 {
        font-size: 2.5rem;
        font-weight: 600;
        padding: 40px;
        animation: anim 7s linear infinite reverse;
    }
    @keyframes anim {
        0% {
            transform: translateX(-800px);
        }
        100% {
            transform: translateX(800px);
        }
    }
}
@media(width<700px) {
    footer h1 {
        font-size: 2rem;
        font-weight: 600;
        padding: 30px;
        animation: anim 6s linear infinite reverse;
    }
    @keyframes anim {
        0% {
            transform: translateX(-800px);
        }
        100% {
            transform: translateX(800px);
        }
    }
}
@media(width<500px) {
    footer h1 {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 20px;
        animation: anim 3s linear infinite reverse;
    }
    @keyframes anim {
        0% {
            transform: translateX(-400px);
        }
        100% {
            transform: translateX(400px);
        }
    }
}