*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color:white !important */
}
html{
  scroll-behavior: smooth;
}
body{
  height:2000px;
  padding-top:70px;
  /* background:#101927; */
  background: #FEFFFE;
}
.wrapper{
  padding:0 20px 50px;
  position: relative;
  background: #FEFFFE;
}
h1{
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color:#1F2937;
}

.catchy-detail{
  text-align: center;
  font-size: 1rem;
  color:#6B7391;;
}
p{
  font-size: 1rem;
  color:#3d4768d5;
}

.heading{
  position: relative;
}
.heading:before{
  content:"";
  position: absolute;
  top:50%;
  height:2px;
  width:35%;
  background-color: #212936b0;
}
.heading:after{
  content:"";
  position: absolute;
  top:50%;
  right:0;
  height:2px;
  width:35%;
  background-color: #212936b0;
}
a{
  text-decoration: none;
}
#body{
  position: relative;
  z-index:10;
}
#space{
  height:220px;
  background:transparent
}
#scroller{
  background:#FEFFFE ;
  position: relative;
  bottom: 300px;
  margin-top: 300px;
}